<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Science Report 2023</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,600,900'><link rel="stylesheet" href="css/style.css">

</head>
<body>

<div class="page-header">
  <header class="entry-header">
    <h1 class="entry-title">Science Report 2023</h1>
    <h2 class="entry-subtitle">This Report contain news from different field: Physics, Space, Biology, Nature, Enviroment, Animal, A.I, Blockchain, Cyber Security</h2>
    <p class="entry-meta">
      <strong>From</strong> 12/03/2023 	&nbsp;
      <strong>To</strong> 19/03/2023
    </p>
  </header>
</div>
<!-- partial:index.partial.html -->

{% for item in data %}
  <article class="post">
    <div>
      <div class="absolute-bg" style="background-image: url( {{ item.img_link }} );"></div>
    </div>
    <div class="post__container">
      <span class="post__category">{{ item.field }}</span>
      
      <div class="post__content">
        <header>
          <time class="post__time">{{ item.title }}</time>
          <h1 class="post__header">

            
          </h1>
        </header>
      
        <p class="post__text">{{ item.content }}</p>
      </div>
    </div>
  </article>
{% endfor %}

<!-- partial -->
<script  src="js/script.js"></script>

</body>
</html>
